.card {
  transition: transform 0.2s;

}

.card-body button{
  border-radius: 50%;
  margin: 10px; /* Adjust the gap size here */


}
.card-header {
  background-color: cornflowerblue;
}
.card:hover {
  transform: translateY(-5px);
}
.text-danger {
  color: red;
}




