.card {
  transition: transform 0.2s;

}
.mycard {
  display: flex;             /* Imposta il contenitore come un flex container */
  justify-content: center;   /* Allinea i bottoni orizzontalmente al centro */
  flex-wrap: wrap;          /* Permette ai bottoni di andare a capo se non c'è spazio */
}

.card-body button{
  margin: 10px;
  align-items: center; 
  text-align: center;/* Adjust the gap size here */

}
.card-header {
  background-color: cornflowerblue;
}
.card:hover {
  transform: translateY(-5px);
}
.text-danger {
  color: red;
}




