.card {
  transition: transform 0.2s;

}
.card-header {
  background-color: cornflowerblue;
}
.card:hover {
  transform: translateY(-5px);
}
.text-danger {
  color: red;
}


.content {
  height: 150vh; /* Imposta un'altezza maggiore di viewport per abilitare lo scroll */
  overflow-y: auto; /* Abilita lo scroll verticale */
}
.scrollable-container {
  max-height: 400px; /* Altezza massima del contenitore */
  overflow-y: auto; /* Abilita lo scroll verticale */
}
